event-listener-flow.json
[{"id":"b409a469.e25ea8","type":"tab","label":"event-listener","disabled":false,"info":""},{"id":"7ec5a974.581728","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7fd4c7d.0857c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"4f8b6861.152e78","type":"inject","z":"b409a469.e25ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.5,"y":229,"wires":[["2d232db4.187292"]]},{"id":"2cac7a7e.600d96","type":"inject","z":"7ec5a974.581728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":349,"y":183,"wires":[["5b09c5dd.3bd5ec"]]},{"id":"5b09c5dd.3bd5ec","type":"debug","z":"7ec5a974.581728","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1028.0000915527344,"y":177.8965482711792,"wires":[]},{"id":"49699db.36d0b64","type":"http in","z":"7ec5a974.581728","name":"Qestions GET","url":"/questions","method":"get","upload":false,"swaggerDoc":"","x":333.12305450439453,"y":268.08202934265137,"wires":[["2b3a2447.31d83c"]]},{"id":"453c20ce.e848b","type":"http response","z":"7ec5a974.581728","name":"","statusCode":"","headers":{},"x":1114.121181488037,"y":415.7404613494873,"wires":[]},{"id":"8d0d0273.8f51","type":"http request","z":"7ec5a974.581728","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/auth/sign-in","tls":"","x":721.9980773925781,"y":290.88490104675293,"wires":[["a8847751.9cf0d8"]],"inputLabels":["payload"]},{"id":"2b3a2447.31d83c","type":"function","z":"7ec5a974.581728","name":"Set login params","func":"msg.method = \"POST\";\nmsg.payload = {\n    username: 'volodymyrtymets@gmail.com',\n    password: '123456',\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":522.9961395263672,"y":287.8086757659912,"wires":[["8d0d0273.8f51"]]},{"id":"25fecd0f.5e75e2","type":"http request","z":"7ec5a974.581728","name":"[GET] Question","method":"GET","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/questions","tls":"","x":845.9981842041016,"y":384.13690185546875,"wires":[["b29d0063.7cf67"]]},{"id":"a8847751.9cf0d8","type":"function","z":"7ec5a974.581728","name":"Set token","func":"msg.method = \"GET\";\nmsg.headers = { Authorization: 'Bearer ' + msg.payload.token}\nreturn msg;","outputs":1,"noerr":0,"x":687.9981002807617,"y":367.77545642852783,"wires":[["5b09c5dd.3bd5ec","25fecd0f.5e75e2"]]},{"id":"b29d0063.7cf67","type":"template","z":"7ec5a974.581728","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Question </h1>\n\n{{#payload.questions}}\n    <li>{{title}}</li>\n{{/payload.questions}}","output":"str","x":998.0000114440918,"y":440.6777801513672,"wires":[["453c20ce.e848b"]]},{"id":"fd22b571.bc1558","type":"http request","z":"b409a469.e25ea8","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://core.staging.services.cloud.rightmart.de/api/users/actions/loginViaConversionJourneyUUID","tls":"","x":483,"y":322,"wires":[["c4db9607.f99758"]],"inputLabels":["payload"]},{"id":"21414f11.de983","type":"function","z":"b409a469.e25ea8","name":"Sign In","func":"msg.payload = { conversionJourneyUUID: '415a3db8-01a7-43fb-967d-ec65ad509329'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;","outputs":1,"noerr":0,"x":329.5,"y":324,"wires":[["fd22b571.bc1558"]]},{"id":"c4db9607.f99758","type":"function","z":"b409a469.e25ea8","name":"Authorize","func":"const { jwt } = msg.payload;\nmsg.headers = { Authorization: `Bearer ${jwt}`}\ncontext.flow.set('token', jwt);\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":398,"wires":[["a690ef07.780cc"]]},{"id":"a690ef07.780cc","type":"http request","z":"b409a469.e25ea8","name":"[GET] Records","method":"GET","ret":"obj","url":"https://core.staging.services.cloud.rightmart.de/api/Records/L7GZn2hg4QhewiN7D/processes","tls":"","x":526,"y":397,"wires":[["d001ab4c.ad3708"]],"inputLabels":["payload"]},{"id":"d001ab4c.ad3708","type":"function","z":"b409a469.e25ea8","name":"Filter","func":"const moment = context.global.get('moment');\n\nconst processes = msg.payload;\nconst filtered = processes.filter(p =>\n  p.fieldId === 'urn:service-manager:record:vars.datum_bescheid' &&\n  moment().diff(moment(p.createdAt), 'months') >= 1)\n\nreturn [filtered];","outputs":1,"noerr":0,"x":707.5,"y":396,"wires":[["e025b7d4.5ae7f8","ec93f6fc.3e4af8"]]},{"id":"58d8f485.70cafc","type":"http request","z":"b409a469.e25ea8","name":"[PATCH] Ppocess","method":"use","ret":"obj","url":"","tls":"","x":979,"y":551,"wires":[["fed379e9.281fd8"]],"inputLabels":["payload"]},{"id":"e025b7d4.5ae7f8","type":"function","z":"b409a469.e25ea8","name":"Update Process","func":"const token = context.flow.get('token');\nconst baseUrl = 'https://core.staging.services.cloud.rightmart.de/api';\nmsg.method = 'PATCH',\nmsg.url = `${baseUrl}/Processes/${msg.id}/value`;\n\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n}\nmsg.params = {\n    id: msg.id,\n    value: 'lead_only',\n}\nreturn msg;","outputs":1,"noerr":0,"x":756,"y":504,"wires":[["58d8f485.70cafc"]]},{"id":"fed379e9.281fd8","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":543,"wires":[]},{"id":"2d232db4.187292","type":"test-event-listener","z":"b409a469.e25ea8","name":"","input":"15","x":306,"y":241,"wires":[["21414f11.de983","741b20f.fd885e"]]},{"id":"741b20f.fd885e","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":524,"y":187,"wires":[]},{"id":"ec93f6fc.3e4af8","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":844,"y":341,"wires":[]},{"id":"7ec319ae.c148f8","type":"cron","z":"b409a469.e25ea8","name":"Update Process","crontab":"* * 23 * * *","x":144.5,"y":546,"wires":[["85efb481.ceb048","301f398a.691066"]]},{"id":"301f398a.691066","type":"function","z":"b409a469.e25ea8","name":"Sign In","func":"msg.payload = { conversionJourneyUUID: '415a3db8-01a7-43fb-967d-ec65ad509329'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":564,"wires":[["2133716d.b172ae"]]},{"id":"2133716d.b172ae","type":"http request","z":"b409a469.e25ea8","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://core.staging.services.cloud.rightmart.de/api/users/actions/loginViaConversionJourneyUUID","tls":"","x":471.5,"y":562,"wires":[["fb264d58.99aa7"]],"inputLabels":["payload"]},{"id":"fb264d58.99aa7","type":"function","z":"b409a469.e25ea8","name":"Authorize","func":"const { jwt } = msg.payload;\nmsg.headers = { Authorization: `Bearer ${jwt}`}\ncontext.flow.set('token', jwt);\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":638,"wires":[["2a139af.5d2f866"]]},{"id":"2a139af.5d2f866","type":"http request","z":"b409a469.e25ea8","name":"[GET] Records","method":"GET","ret":"obj","url":"https://core.staging.services.cloud.rightmart.de/api/Records/L7GZn2hg4QhewiN7D/processes","tls":"","x":514.5,"y":637,"wires":[["87782755.568db8"]],"inputLabels":["payload"]},{"id":"87782755.568db8","type":"function","z":"b409a469.e25ea8","name":"Filter","func":"const moment = context.global.get('moment');\n\nconst processes = msg.payload;\nconst filtered = processes.filter(p =>\n  p.fieldId === 'urn:service-manager:record:vars.lead_to_conversion' &&\n  p.remak === 'unterlagen_fehlen' && \n  p.urn === 'urn:service-manager:record:vars.lead_to_conversion' &&\n  moment().diff(moment(p.createdAt), 'months') >= 1\n)\n\nreturn [filtered];","outputs":1,"noerr":0,"x":652,"y":778,"wires":[["1880c0d2.79d09f","3c5828cc.8103c8"]]},{"id":"1880c0d2.79d09f","type":"function","z":"b409a469.e25ea8","name":"Update Process","func":"const token = context.flow.get('token');\nconst baseUrl = 'https://core.staging.services.cloud.rightmart.de/api';\nmsg.method = 'PATCH',\nmsg.url = `${baseUrl}/Processes/${msg.id}/value`;\n\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n}\nmsg.params = {\n    id: msg.id,\n    value: 'tot',\n}\nreturn msg;","outputs":1,"noerr":0,"x":700.5,"y":886,"wires":[["9489e0fd.9d503"]]},{"id":"9489e0fd.9d503","type":"http request","z":"b409a469.e25ea8","name":"[PATCH] Ppocess","method":"use","ret":"obj","url":"","tls":"","x":923.5,"y":933,"wires":[["17007337.e6b88d"]],"inputLabels":["payload"]},{"id":"17007337.e6b88d","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1114.5,"y":925,"wires":[]},{"id":"85efb481.ceb048","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":258,"y":481,"wires":[]},{"id":"3c5828cc.8103c8","type":"debug","z":"b409a469.e25ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":788.5,"y":723,"wires":[]}]